<div id="banner">
  <div class="banner-inner">
 
<a href="{{ site.url }}{{ site.baseurl }}/" class="button">Zur Startseite</a>
<!--{% case hasPageType %}
{% when 'productPage' %}
 >> {{ page.title }}
{% when 'componentPage' %}
 >> <a href="https://knebelm.github.io{{ site.baseurl }}/doc-products/{{ productNameResolvedUrl }}"  class="button">{{ headingLabel }}</a> >> {{ page.title }}
{% else %}
 >> {{ page.title }}
{% endcase %}
-->

 <!--<span id="logo"><span class="octicon octicon-mark-github"></span></span>

    <a href="http://www.parson-europe.com" class="button fork"><strong>Fork from Github</strong></a>
    <div class="downloads">
      <span>Download sources:</span>
      <ul>
        <li><a href="https://github.com/parson-ag/XXX" class="button">Showcase ZIP</a></li>
      </ul>
    </div>-->
  </div>
</div>
